.topicos {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding-bottom: 16px;
}

.topicos__titulo {
    font-weight: 300;
    line-height: 24px;
    padding: 24px 0 24px 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 24px 8px;
}

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--laranja);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 16px 24px;
}

.topicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px) {

    .topicos__titulo {
        font-size: 24px;
        line-height: 36px;
        padding: 32px 0 40px 0;
    }

    .topicos__lista {
        padding: 0 130px;
    }

    .topicos__link {
        font-size: 24px;
        line-height: 36px;
        padding: 16px 24px;
    }

}

@media screen and (min-width: 1728px) {

    .topicos {
        padding-bottom: 74px;
    }

    .topicos__titulo {
        font-size: 32px;
        line-height: 48px;
        padding: 64px 0 40px 0;
    }

    .topicos__lista {
        padding: 0 490px;
    }

}